.env
vendor/
node_modules/
app/storage/sessions/*
app/storage/logs/*
app/storage/cache/*
app/storage/emails/*
!app/storage/sessions/.gitkeep
!app/storage/logs/.gitkeep
!app/storage/cache/.gitkeep
!app/storage/emails/.gitkeep
uploads/*
!uploads/.gitkeep
.DS_Store
Thumbs.db
